<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=DESKTOP-1IHCKPS;Initial Catalog=A_system;Integrated Security=True" providerName="system.data.sqlclient"/>
  
  </connectionStrings>

</configuration>
